
body{
    background-color: #1b1e21;
}

.mainImage{
    max-width: 992px;
    min-width: 480px;

    background-color: white;

    }
.thumbnail {
    position: relative;
    border-bottom: #4e555b solid 1px;
}

.caption {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
}
#tittleMain{
    font-size: 2em;
}

.borderB{
    padding-top: 10px;
    border-top: solid 1px lightslategray;
}

.font1{
    font-family: 'Rock Salt', cursive;
    color: orange;
}
.font2{
    font-family: 'Cinzel', serif;
    color: lightslategray;
}

i{
    color: white;
    font-size: 2em;
}
#footer{
    border-top: #4e555b solid 1px;
    padding-top: 10px;
    font-size: 0.8em;
}
h3{
    color: orange;
}
.jumbotron{
    background-image: linear-gradient(#1a2d4c, #1b1e21);
    color: orange;
}
/*==================================================
=                   Google Fonts                   =
==================================================*/
/*
font-family: 'Cinzel', serif;
font-family: 'Covered By Your Grace', cursive;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Rock Salt', cursive;
*/

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/* Large desktops and laptops */
@media (min-width: 1200px) {
/* css specific properties col-lg-**/
    #tittleMain, h1{
        font-size: 3em;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
/* css specific properties col-md-**/
    #tittleMain, h1{
        font-size: 3em;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
/* css specific properties col-sm-**/
    #tittleMain, h1{
        font-size: 2em;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
/* css specific properties col-xs-**/
    h2{
        font-size: medium;
    }
    h3{
        font-size: medium;
    }
    #tittleMain, h1{
        font-size: large;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    body{
        font-size: 0.8em;
    }
    .mainImage{
        width: 480px;
    }
    h2{
        font-size: medium;
    }
    h3{
        font-size: medium;
    }
    #tittleMain{
        font-size: large;
    }
/* css specific properties col-xs-* or none for default*/
}
