/*     fonts for the page*    /

/*font-family: 'Cinzel', serif; classy not used

/*font-family: 'Nothing You Could Do', cursive; ----- sub-tittles?
/*font-family: 'Rock Salt', cursive; ---- main tittles



//colors for the page

$Yburned: #8b5a22
$Ylight: #e4ba66
$Ymedium: #bf862c
$bodyBackground: #1b1e21
$mainTittlesColor: orange
$bodyFontsColor: white
$icons: #4e555b
$subTittles: #bf862c
$mediumBlue: #1a2d4c
$darkBlue: #1b1e21

//fonts

.fontTitles
  font-size: 2em
  font-family: "Rock Salt", cursive
  color: $mainTittlesColor


.font1
  font-family: "Rock Salt", cursive
  color: orange

.font2
  font-family: "Cinzel", serif
  color: orange

.fontSub
  font-family: "Nothing You Could Do", cursive

//elements

body
  background-color: $bodyBackground
  color: $bodyFontsColor

p
  color: $bodyFontsColor

.borderTest
  border: solid 1px white

.mainImage
  max-width: 992px
  min-width: 480px
  background-color: white

.thumbnail
  padding: 0
  position: relative
  border-bottom: $Yburned solid 1px

.caption
  position: absolute
  top: 80%
  left: 0
  width: 100%

.borderB
  padding-top: 10px
  border-top: solid 1px lightslategrey

i
  color: $icons
  font-size: 2em

#footer
  border-top: solid 1px $Yburned
  padding-top: 10px
  font-size: 0.8em

h3
  color: $subTittles
  font-family: 'Nothing You Could Do', cursive

.jumbotron
  background-image: linear-gradient($mediumBlue,$darkBlue)
  color: $mainTittlesColor

.navbar-brand
  font-size: 0.8em

a
  color: #4e555b

a:hover
  color: lightslategrey

.dropdown-item, .dropdown-menu
  background-color: #4e555b
  color: #cccccc

th
  color: $subTittles
  font-family: "Nothing You Could Do", cursive

#gallerySeeds img:hover
  border: solid 1px white

.iframe-container
  position: relative
  width: 100%
  padding-bottom: 70%
  height: 100%

.iframe-container iframe
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.mainPicture
  height: 500px
  background-repeat: no-repeat
  background-size: contain

/*---------------------MOdal



/*-------------------- media queries----------------//


@media (min-width: 1200px)
  #titleMain, h1
    font-size: 3em


@media (min-width: 992px) and (max-width: 1199px)
  #titleMain,h1
    font-size: 3em


@media (min-width: 768px) and (max-width: 991px)
  #titleMain,h1
    font-size: 2em


@media (max-width: 767px)
  h2
    font-size: medium

  h3
    font-size: 1.5em

  #titleMain,h1
    font-size: large



@media (max-width: 480px)
  body
    font-size: 0.8em

  .mainImage
    width: 480px

  h2
    font-size: medium

  h3
    font-size: 1.5em

  #titleMain
    font-size: large
